@model List<OnlineShop.Models.Product>

@foreach (OnlineShop.Models.Product product in Model)
{
    for (int i = 0; i < 10; i++)
    {
        <div class="product_div">
            <div class="product_img_div">
                <img class="product_img" src="~/Pictures/@product." />
            </div>
            <div class="product_name_div">@product.Name</div>
            <div class="product_price_div">@product.Price <span>грн.</span></div>
            <div class="product_quantity_div">В наличии: @product.Quantity</div>
        </div>
    }
}
