body{
    font-family: Arial;
}

a{
    text-decoration: none;
    color: darkmagenta;
}

button{
    cursor: pointer;
}

.title{
    display: block;
    position: relative;
    width: 240px;
    margin: 50px auto 0 auto;
    text-align: center;
    color: darkmagenta;
    font-size: 48pt;
    font-weight: bold;
}

.product_img{
    width: 297px;
    height: 220px;
}