
/*tags*/
body, input, select, button{
    font-size: 16pt;
}

select{
    height: 35px;
    padding: 3px 7px 2px 4px;
}

input{
    height: 29px;
}

/*classes*/
.btn_submit{
    position: relative;
    left: 725px;
    margin-top: 15px;
    height: 60px;
    width: 175px;
    background: darkmagenta;
    color: white;
    border: 0;
    cursor: pointer;
}

.btn_submit:hover{
    background: magenta;
}

.btn_add_option{
    position: relative;
    top: -2px;
    display: inline-block;
    height: 35px;
    margin-left: 10px;
    padding: 3px 7px 2px 4px;
    font-size: 14pt;
}

.load_file{
    position: relative;
    top: 50px;
    width: 500px;
}

.prod_edit_main_div{
    margin: 0 auto;
    width: 900px;
}

.param_val_div{
    padding: 15px 0 15px 0;
    border-bottom: 2px dashed lightgray;
}

.param_val_div_img{
    height: 250px;
}

.param_val_div input {
    margin-left: 20px;
    width: 200px;
}

.param_val_div input[type=file]{
    width: 500px;
}

.param{
    display: inline-block;
    width: 300px;
    float: left;
}

.val{
    display: inline-block;
}

.val_img{
    float: right;
}

.param_val_div .val_name{
    width: 595px;
    margin-left: 0px;
}

.val_num{
    width: 100px;
}

.hidden{
    display: none;
}

